:root{
    --vermelho:#E50914;
    --preta:#141414;
}




*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}


/* elementos base*/
body{
    background: var(--preta);
    font-family: 'arial', Times, serif;
    color: white;
}

header   .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    color: var(--vermelho);
    font-family: arial black;
    font-size: 40px;
}

header nav a{
    text-decoration:none;
    color: #AAA;
    margin-right: 10px;;
}

header nav a:hover{
    color: #fff;
}

/* filme principal*/


.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)), url('/img/capa-hotel.jpg');
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 90px;

}

.filme-principal .titulo{
    margin-top: 15px;
    font-size: 35px;
    font-family: 'Trebuchet MS';
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .4s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 8px;
}

.container{
    padding-left: 10px;
}

.filme-principal .container{
    width: 70%;
    
}

.box-filme{
    height: 100%;
    width: 70%;
    display: block;
    padding-top: 25px;
}

.carrosel-filmes{
    margin-top: 5px;
}

.item:hover img{

    max-width: 100%;
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.7s;
    -moz-transform: scale(2.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.filme-principal .botao a{
    text-decoration: none;
    color: white;
    
}

.filme-principal .botao:hover a{
    
    color: black;
}
